* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: 'Noto Sans TC', sans-serif;
}

main {
    text-align: center;

}

main table {
    margin: auto;
    max-width: 100%;
    border: 0 solid #707070;
}

section {
    padding: 10px;
}

/* 通用區塊 */
.generic-font {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
    line-height: 18px;
}
.generic-date {
    text-align: right;
}
.generic-hashtag {
    color: #707070;
    font-size: 16px;
}
.generic-hashtag-background {
    background-color: #ff006e;
}
.generic-title-21 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}
.mouse-pointer {
    cursor: pointer;
}
.align-items-center {
    text-align: center;
}

.block-title {
    font-size: 18px;
    line-height: 24px;
    padding: 5px 5px 20px 5px;
    font-weight: normal;
    position: relative;
}
.block-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 3px solid #f3f3f3;
}

.block-background {
    background-color: #ffffff;
    max-width: 60%;
    margin: auto;
    text-align: left;
    padding: 10px;
}

.inside-block {
    padding-top: 10px;
}
.inside-block + .inside-block {
    padding-top: 24px;
}
.inside-block:first-child {}

.spilt-text {
    display: flex;
    justify-content: space-between;
}
.left-half {
    flex: 1;
    text-align: left;
}
.right-half {
    flex: 1;
    text-align: right;
}


/* about */
.about-background {
    padding: 0;
    position: relative;
}

.about-banner {
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.about-banner img {
    width: 100%;
    height: auto;
    display: block;
}

.about-profile {
    position: absolute;
    top: 200px;
    left: 0;
    box-sizing: border-box;
    display: flex;
    z-index: 1;
}
.about-profile img { /* 大頭照 */
    margin-left: 5%;
    margin-top: 0;
    width: 20%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top center;
    image-rendering: auto;
    border-radius: 50%;
    border: 4px solid #ffffff;
}
.about-profile-title {
    margin-top: -5%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    z-index: 1;
}
.about-profile-title .tag {
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    background-color: rgba(69,69,69,0.75);
    border-radius: 15px;
    padding: 3px 10px 3px 10px;
    margin-right: 5px;
}

.about-content {
    padding: 10px 10px 50px 10px;
    margin-left: 30%;
    box-sizing: border-box;
}
.about-moreInfo {
    padding: 10px;
    text-align: center;
}
.about-moreInfo .divider {
    border-top: 3px solid #f3f3f3;
    margin-bottom: 10px;
}
.about-moreInfo-extraInfo {
    padding: 10px 10px 20px 10px
}
.about-moreInfo .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-moreInfo .row .title {
    position: relative;
    transform: translateX(-50%);
    padding: 5px 20px 5px 5px;
    text-align: left;
    font-weight: bold;
}
.about-moreInfo .row .text {
    position: absolute;
    text-align: right;
    left: 50%;
}

/* project */
.project_image {
    width: 40%;
}
.project_image img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.project_content {

}

.project_link {

}

/* story */
.story-content {
    font-size: 16px;
    line-height: 28px;
}

/* skill */
.main-skill {
    padding-bottom: 20px;
}
.main-skill .tag {
    display: inline-block;
    color: #707070;
    font-size: 16px;
    background-color: #e1acbd;
    border-radius: 15px;
    padding: 2px 10px 2px 10px;
    margin-right: 5px;
}
.main-skill:last-child {
    padding-bottom: 5px;
}
.main-skill-title {
    font-weight: bold;
    position: relative;
}
.main-skill-title::after { /* 技能-標題 下面的那條裝飾線 */
    content: "";
    position: absolute;
    left: -5%;
    bottom: -5px;
    width: 150%;
    background-image: linear-gradient(to right,#ffffff,0%, #c19c60 5%,#bd741e 10%, #bd741e 75%, #c19c60 90%, #ffffff 100%);
    height: 3px;
}
.main-skill-text {
    line-height: 45px;
}

